/*!
* Dolphin CSS - v1.0.2
* @author caiweiming
*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.select2-container--default .select2-search--inline .select2-search__field{
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.css-input input + span {
    margin-top: -3px;
}
#main-container{
    overflow: visible;
}
/* 后台logo */
.logo, .logo-text {
    max-height: 34px;
}
.dolphin-header {
    padding: 8px 10px 1px 6px;
}
.text-modern {
    color: #1F98CA;
}
/* 顶部导航 */
#header-navbar {
    min-height: 50px;
}
.content-mini.content-mini-full {
    padding: 0 10px 0 0;
}
.nav-header {
    margin-top: 6px;
}
.nav-pills > li > a {
    font-weight: normal;;
    padding: 15px 17px;
    border-radius: 0;
}
.side-header{
    min-height: 50px;
}
.header-navbar-fixed #main-container{
    padding-top: 50px;
    background: #f1f1f1;
}
#page-footer{
    padding: 13px 30px 13px;
}
.btn,
.form-control{
    border-radius: 0;
}
.notice-circle {
    position: absolute;
    right: 25px;
    top: -2px;
    font-size: 12px;
}
/* 表单元素 */
.form-group .css-checkbox {
    margin-right: 10px;
}
.help-block {
    font-size: 12px;
    font-style: normal;
}
div.tagsinput {
    padding: 6px 12px 1px 6px;
}

/* 文件上传 */
.file-item.thumbnail{
    display: inline-block;
    position: relative;
    margin-right:15px;
    float: left;
}
.file-item.thumbnail .info{
    display: none;
}
.file-item.thumbnail .remove-picture{
    position: absolute;
    right: -5px;
    top: -5px;
    font-size: 18px;
    color: #CA4949;
    cursor: pointer;
    display: none;
    z-index: 5;
}
.file-item.thumbnail .remove-picture:hover{
    color: #EC6969;
}
.file-item.thumbnail .move-picture{
    background: gainsboro;
    padding: 2px;
    cursor: move;
    color: #ABABAB;
    position: absolute;
    left: -6px;
    top: -5px;
    border-radius: 50%;
    display: none;
    z-index: 5;
}
.file-item.thumbnail:hover .remove-picture,
.file-item.thumbnail:hover .move-picture{
    display: block;
}
.file-item .progress.progress-xs{
    margin-bottom: 5px;
    margin-top: 5px;
}
.file-item .error,
.file-item .img-state{
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    color: white;
    text-align: center;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
}
.file-item .error{
    background: rgba(255, 0, 0, 0.67);
}
.file-item .success{
    background: rgba(25, 167, 75, 0.78);
}
.uploader-list .list-group-item img{
    width: 40px;
    height: 40px;
}
.file-item .remove-file{
    color: #CA4949;
    cursor: pointer;
}
.file-item .remove-file:hover{
    color: #EC6969;
}
.file-item .fa-check {
    color: #68C39F;
    margin-top: 3px;
}

/* 图标选择 */
.js-icon-picker .input-group-addon {
    cursor: pointer;
}
#icon_search {
    padding: 15px;
}
#icon_tab .nav-tabs {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 15px;
}
#icon_tab i {
    font-size: 2em;
}
.js-icon-list {
    padding-left: 0;
    padding-bottom: 1px;
    margin-bottom: 20px;
    list-style: none;
    overflow: hidden;
}
.js-icon-list li{
    float: left;
    width: 5%;
    padding: 15px;
    margin: 0 -1px -1px 0;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
}
.js-icon-list li:hover {
    background-color: #F5F5F5;
}
.js-icon-list li code {
    display: none;
}

/* 加载层 */
#loading {
    position: fixed;
    width: 100%;
    height:100%;
    z-index: 20180101;
    background: rgba(255, 255, 255, 0.16);
}
#loading .loading-box {
    background-color: rgba(0, 0, 0, 0.62);
    z-index: 20180102;
    position: fixed;
    padding: 10px;
    border-radius: 4px;
    margin-left: -50px;
    margin-top: -24px;
    color: #FFF;
    left: 50%;
    top: 50%;
}
#loading i {
    float: left;
    margin-right: 5px;
}
#loading .loding-text {
    margin-top: 3px;
    display: inline-block;
}

/* markdown编辑器 */
.editormd-fullscreen {
    z-index: 9999;
}

/* 联动下拉 */
.select-box {
    float: left;
    padding: 0 0 0 15px;
}

/* 分组 */
.block .block-content.block-group {
    overflow: visible;
}

/* 表格 */
.table{
    margin-bottom: 0;
}
.table-cell{
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    box-sizing: border-box;
    min-height: 22px;
}
.data-table-toolbar {
    margin-bottom: 10px;
}
.builder-table-wrapper{
    position: relative;
    border: 1px solid #E9E9E9;
    border-bottom: 0;
    border-right: 0;
    margin-bottom: 20px;
}
.builder-table{
    width: inherit;
    height: 100%;
    max-width: 100%;
    overflow: inherit;
    border-right: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    position: relative;
}
.builder-table:before{
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.builder-table-head{
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.builder-table-body{
    overflow: auto;
    margin-top: -1px;
}
#builder-table-main {
    margin-bottom: -1px;
}
.builder-table-left{
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 2px 0 6px -2px rgba(0,0,0,.2);
}
.builder-table-left:before,
.builder-table-right:before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #dddee1;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 4;
}
.builder-table-left-head,
.builder-table-right-head{
    overflow: hidden;
}
.builder-table-left-body{
    overflow: hidden;
    position: relative;
    z-index: 3;
}
.builder-table-right{
    position: absolute;
    right: 0;
    left: auto;
    top: 0;
    box-shadow: -2px 0 6px -2px rgba(0,0,0,.2);
    overflow: hidden;
    height: 50px;
}
.builder-table-head table,
.builder-table-left-head table,
.builder-table-left-body table,
.builder-table-right-head table,
.builder-table-right-body-inner table,
#builder-table-main{
    table-layout: fixed;
}
.builder-table-right-head{
    position: absolute;
    right: 0;
}
.builder-table-right-body{
    overflow: hidden;
    position: relative;
    z-index: 3;
    margin-top: 50px;
}
.builder-table-right-body-inner{
    position: absolute;
    right: 0;
}
.builder-table-right-header{
    position: absolute;
    top: -1px;
    right: 0;
    background-color: #f8f8f9;
    width: 17px;
    height: 52px;
    border-top: 1px solid #E9E9E9;
}
.table>caption+thead>tr:first-child>td,
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th{
    border-left: 0;
    border-top: 0;
}
.table>colgroup+thead>tr:first-child>th:last-child{
    border-right: 0;
}
.table-bordered > tbody > tr > td:first-child{
    border-left: 0;
}
.table-bordered > tbody > tr > td:last-child{
    border-right: 0;
}
.table>thead:first-child>tr:first-child>th:last-child{
    border-right: 0;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th,
.table-hover > tbody > tr:hover {
    background-color: #FFFCEF;
}
.js-table-checkable tbody tr, .js-table-sections-header > tr {
    cursor: default;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
    font-family: "Microsoft Yahei", "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    white-space: nowrap;
}
.table > thead > tr > th > .pull-right {
    margin-right: -40px;
}
.table-builder{
    border-left: 0;
    border-right: 0;
    border-top:0;
    background: #fff;
}
.table-builder .css-checkbox {
    margin: 2px 0;
}
.table-builder .switch.switch-sm {
    margin: 0;
}
.table-builder thead .fa {
    padding-left: 5px;
}
.table-builder > tbody > tr > td {
    vertical-align: middle;
    padding: 10px;
    min-width: 0;
    height: 48px;
    box-sizing: border-box;
    text-overflow: ellipsis;
}
.table-builder > tbody > tr > td .image {
    height: 40px;
}
.table-empty .empty-info{
    background: #fff;
    padding: 100px 0;
    font-size: 20px;
    color: #C7C7C7;
}
.table-hover > tbody > tr.hover{
    background-color: #FFFCEF;
}
.pagination {
    margin: 0;
}
.pagination-info {
    line-height: 30px;
}
.data-table-toolbar .go-page{
    width: 45px;
    text-align: center;
    float: left;
    margin-right: 5px;
}
.data-table-toolbar .nums {
    float: right;
    width: 45px;
    text-align: center;
    margin-left: 5px;
}
.data-table-toolbar .nums-info {
    margin-top: 6px;
    margin-right: 5px;
}
.search-bar {
    width: 280px;
}
@media screen and (max-width: 425px){
    .search-bar {
        width: 100%;
        margin-bottom: 10px;
        float: none!important;
    }
}

.btn-group-vertical>.btn,
.btn-group>.btn{
    float: none;
}

/* 菜单页面 */
#menu_list {
    margin-bottom: 20px;
}
.dd3-handle {
    background: #ECECEC;
    cursor: move;
}
.dd3-handle:before {
    color: #A0A0A0;
}
.dd3-content {
    background: #f9f9f9;
    color: #5A5A5A;
}
.dd3-content:hover {
    background: #ECECEC;
    color: #5A5A5A;
}
.dd3-content .link {
    margin-left: 10px;
    font-weight: normal;
}
.dd3-content .action {
    display: inline-block;
    margin-left: 10px;
}
.dd3-content .list-icon{
    color: #5A5A5A;
    margin-left: 10px;
    display: none;
}
.dd3-content .list-icon:hover,
.dd-disable .list-icon:hover{
    color: #9A9A9A;
}
.dd-disable .dd3-content{
    background: #FFD5D0;
    color: #D2847B;
}
.dd-disable .dd3-content:hover{
    background: #FDC7C1;
}
.dd3-content:hover .list-icon{
    display: inline;
}
.dd-disable .dd3-handle{
    background: #FDC7C1;
}
.dd-disable .dd3-handle:hover{
    background: #E49D9D;
}
.dd3-item > button[data-action="collapse"],
.dd3-item > button[data-action="expand"] {
    color: #5A5A5A;
}
.dd-placeholder,
.dd-empty {
    background: #FFFFF3;
    border: 1px dashed #F3DDC6;
}

.connectedSortable {
    overflow: hidden;
}
.connectedSortable .sortable-item {
    border: 1px solid #DADADA;
    margin-right: 10px;
    padding: 8px 10px;
    background: #F7F7F7;
    cursor: move;
}
.connectedSortable .sortable-item:hover {
    background: #EFEFEF;
}

/* 模块、插件 */
.module-list h3 {
    font-weight: 300;
    font-size: 24px;
}

/* 访问授权 */
.auth-node {}
.auth-node-top {
    padding: 8px 20px;
}
.auth-node-parent {
    margin-bottom: 20px;
}
.auth-node-child {
    margin-left: 20px;
}
.auth-node-child .auth-node-child {
    margin-left: 20px;
    margin-bottom: 10px;
}

/* 数据授权 */
table.treetable {
    border: none;
}
table.treetable tr.branch {
    background: none;
}

/* select2 */
.select2-selection__rendered {
    min-width: 200px;
}
.select2-container--open {
    z-index: 1100;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    display: none;
}
.select2-container .select2-dropdown {
    margin-top: -1px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered,
.select2-container--default.select2-container--focus .select2-selection--multiple .select2-selection__rendered{
    padding-left: 5px;
}
.select2-container--default .select2-search--inline .select2-search__field{
    margin-left: 6px;
}

.uploader-list .danger {
    color: #d26a5c;
}

/* sweetalert */
.sweet-alert p {
    color: #BB2C2C;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* 隐藏表单项 */
.form_group_hide {
    height: 0;
    overflow: hidden;
    margin: 0;
}
.form_group_hide .btn{
    height:0;
}

/* 百度地图 */
.bmap{
    width:100%;
    height:500px;
    border: 1px solid #ccc;
}
.searchResultPanel{
    border:1px solid #C0C0C0;
    width:150px;
    height:auto;
    display:none;
}

/* 图片裁剪 */
.jcrop-active,
.jcrop-preview-parent{
    display: inline-block;
}
.jcrop-img {
    width: 750px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC");
    text-align: center;
    line-height: 0;
}
.jcrop-preview-parent{
    width:100px;
    height:100px;
    overflow:hidden;
    float: right;
}

/* 图片上传 */
.img-link{
    display: inline;
}

/* 时间段搜索 */
.toolbar-btn-action .time-filter {
    display: inline-block;
}
.toolbar-btn-action .input-daterange {
    width: 250px;
}

/* 表单按钮 */
.form-btn-parent {
    margin-top: 22px;
}
.form-btn {
    margin-bottom: 23px;
}
.col-md-12 > .form-btn-parent,
.col-md-12 > .form-btn-parent > .form-btn{
    margin: 0;
}

.breadcrumb {
    padding:10px 14px;
    font-weight: normal;
    border-radius: 0;
}

@media screen and (min-width: 768px){
    /* 面包屑导航 */
    .breadcrumb {
        padding: 10px 30px;
        font-weight: normal;
        border-radius: 0;
    }
}

.js-gallery>img,
.gallery-list .thumbnail>img,
.uploader-list .thumbnail>img {
    cursor: zoom-in;
}