{extend name="$_admin_base_layout" /}

{block name="content"}
<div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h3 class="font-w300 push-15">新手指导</h3>
    <p>相关参数设置，请在【系统】>【系统功能】>【系统设置】>【<a class="alert-link" href="{:url('admin/system/index', ['group' => 'cms'])}">门户</a>】中设置，或 <a class="alert-link" href="{:url('admin/system/index', ['group' => 'cms'])}">点此</a> 跳转。</p>
    <!--<p>先 <a class="alert-link" href="{:url('cms/column/add')}">创建栏目</a>，</p>-->
</div>
<div class="row">
    <div class="col-sm-6 col-md-3">
        <a class="block block-link-hover3 text-center" href="{:url('document/index')}">
            <div class="block-content block-content-full">
                <div class="h1 font-w700 text-primary" data-toggle="countTo" data-to="{$document|default=0}"></div>
            </div>
            <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">文档</div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="block block-link-hover3 text-center" href="{:url('column/index')}">
            <div class="block-content block-content-full">
                <div class="h1 font-w700 text-success" data-toggle="countTo" data-to="{$column|default=0}"></div>
            </div>
            <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">栏目</div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="block block-link-hover3 text-center" href="{:url('page/index')}">
            <div class="block-content block-content-full">
                <div class="h1 font-w700 text-info" data-toggle="countTo" data-to="{$page|default=0}"></div>
            </div>
            <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">单页</div>
        </a>
    </div>
    <div class="col-sm-6 col-md-3">
        <a class="block block-link-hover3 text-center" href="{:url('model/index')}">
            <div class="block-content block-content-full">
                <div class="h1 font-w700 text-warning"><span data-toggle="countTo" data-to="{$model|default=0}"></span></div>
            </div>
            <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">模型</div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="block block-bordered">
            <div class="block-header bg-gray-lighter">
                <h3 class="block-title">快捷操作</h3>
            </div>
            <div class="block-content">
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <a class="block block-link-hover3 text-center" href="{:url('document/add')}">
                            <div class="block-content block-content-full">
                                <i class="fa fa-plus fa-3x text-muted"></i>
                                <div class="font-w600 push-15-t">发布文档</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <a class="block block-link-hover3 text-center" href="{:url('nav/index')}">
                            <div class="block-content block-content-full">
                                <i class="fa fa-map-signs fa-3x text-muted"></i>
                                <div class="font-w600 push-15-t">导航管理</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <a class="block block-link-hover3 text-center" href="{:url('slider/index')}">
                            <div class="block-content block-content-full">
                                <i class="fa fa-photo fa-3x text-muted"></i>
                                <div class="font-w600 push-15-t">滚动图片</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <a class="block block-link-hover3 text-center" href="{:url('support/index')}">
                            <div class="block-content block-content-full">
                                <i class="fa fa-commenting fa-3x text-muted"></i>
                                <div class="font-w600 push-15-t">客服管理</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <a class="block block-link-hover3 text-center" href="{:url('advert/index')}">
                            <div class="block-content block-content-full">
                                <i class="fa fa-handshake-o fa-3x text-muted"></i>
                                <div class="font-w600 push-15-t">广告管理</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <a class="block block-link-hover3 text-center" href="{:url('link/index')}">
                            <div class="block-content block-content-full">
                                <i class="fa fa-link fa-3x text-muted"></i>
                                <div class="font-w600 push-15-t">友情链接</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="__ADMIN_JS__/core/jquery.countTo.min.js"></script>
<script>
    jQuery(function () {
        App.initHelpers(['appear-countTo']);
    });
</script>
{/block}