{extend name="public:layout" /}

{block name="main-container"}
<!-- Main Container -->
<main id="main-container">
    {empty name="slider"}
    <div class="bg-image" style="background-image: url('__MODULE_IMG__/photo12@2x.jpg');">
        <div class="bg-primary-dark-op">
            <section class="content content-full content-boxed overflow-hidden">
                <!-- Section Content -->
                <div class="push-100-t push-50 text-center">
                    <h1 class="h2 text-white push-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown" style="font-size: 72px">海豚PHP快速开发框架</h1>
                    <h2 class="h5 text-white-op push-50 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown" style="font-size: 44px">极速 · 极简 · 极致</h2>
                    <a class="btn btn-rounded btn-noborder btn-lg btn-primary visibility-hidden" data-toggle="appear" data-class="animated bounceIn" data-timeout="800" href="###">点击下载 V1.0公测版</a>
                    <div class="text-white-op push-10-t">当前版本：1.0.0 <sup>beta</sup>　[<a class="text-white-op" href="###">更新日志</a>]　下载量：0</div>
                    <p class="push-10-t" data-toggle="appear" data-class="animated fadeInUp">
                        <a class="text-white-op" href="https://coding.net/u/LoopMing/p/DolphinPHP/git" target="_blank">Coding.net</a> or <a class="text-white" href="https://github.com/caiweiming/dolphinphp.git" target="_blank">Github</a>
                    </p>
                </div>
                <div class="row visibility-hidden" data-toggle="appear" data-class="animated fadeInUp">
                    <div class="col-sm-8 col-sm-offset-2">
                        <img class="img-responsive pull-b" src="__MODULE_IMG__/preview.jpg" alt="">
                    </div>
                </div>
                <!-- END Section Content -->
            </section>
        </div>
    </div>
    {/empty}
    {notempty name="slider"}
    <div class="slider">
        <!-- Slider with dots and hover arrows -->
        <div class="js-slider slick-nav-white slick-nav-hover" data-slider-dots="true" data-slider-arrows="true" data-slider-autoplay="true" data-slider-autoplay-speed="3000">
            {volist name="slider" id="item"}
            <div>
                <a href="{$item.url|default='javascript:void(0);'}" target="_blank"><img class="img-responsive" src="{:get_file_path($item['cover'])}" alt="{$item.title}"></a>
            </div>
            {/volist}
        </div>
        <!-- END Slider with dots and hover arrows -->
    </div>
    {/notempty}

    <!-- Classic Features #1 -->
    <div class="bg-white">
        <section class="content content-boxed">
            <!-- Section Content -->
            <div class="row items-push-3x push-50-t nice-copy">
                <div class="col-sm-4">
                    <div class="text-center push-30">
                                    <span class="item item-2x item-circle border">
                                        <i class="si si-rocket"></i>
                                    </span>
                    </div>
                    <h3 class="h5 font-w600 text-uppercase text-center push-10">Bootstrap Powered</h3>
                    <p>Bootstrap is a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development. OneUI was built on top, extending it to a large degree.</p>
                </div>
                <div class="col-sm-4">
                    <div class="text-center push">
                                    <span class="item item-2x item-circle border">
                                        <i class="si si-screen-smartphone"></i>
                                    </span>
                    </div>
                    <h3 class="h5 font-w600 text-uppercase text-center push-10">Fully Responsive</h3>
                    <p>The User Interface will adjust to any screen size. It will look great on mobile devices and desktops at the same time. No need to worry about the UI, just stay focused on the development.</p>
                </div>
                <div class="col-sm-4">
                    <div class="text-center push">
                                    <span class="item item-2x item-circle border">
                                        <i class="si si-clock"></i>
                                    </span>
                    </div>
                    <h3 class="h5 font-w600 text-uppercase text-center push-10">Save time</h3>
                    <p>OneUI will save you hundreds of hours of extra development. Start right away coding your functionality and watch your project come to life months sooner.</p>
                </div>
            </div>
            <div class="row items-push-3x nice-copy">
                <div class="col-sm-4">
                    <div class="text-center push">
                                    <span class="item item-2x item-circle border">
                                        <i class="si si-check"></i>
                                    </span>
                    </div>
                    <h3 class="h5 font-w600 text-uppercase text-center push-10">Frontend Pages</h3>
                    <p>Premium and fully responsive frontend pages are included in OneUI package, too. They use the same resources with the backend, so you can build your web application in one go, using all available components wherever you like.</p>
                </div>
                <div class="col-sm-4">
                    <div class="text-center push-30">
                        <span class="item item-2x item-circle border">{less}</span>
                    </div>
                    <h3 class="h5 font-w600 text-center push-10">LessCSS</h3>
                    <p>OneUI was built from scratch with LessCSS. Completely modular design with components, variables and mixins that will help you customize and extend your framework to the maximum.</p>
                </div>
                <div class="col-sm-4">
                    <div class="text-center push">
                                    <span class="item item-2x item-circle border">
                                        <i class="si si-speedometer"></i>
                                    </span>
                    </div>
                    <h3 class="h5 font-w600 text-uppercase text-center push-10">Grunt Tasks</h3>
                    <p>Grunt tasks will make your life easier. You can use them to live-compile your Less files to CSS as you work or build your custom color themes and framework.</p>
                </div>
            </div>
            <!-- END Section Content -->
        </section>
    </div>
    <!-- END Classic Features #1 -->

    <!-- Mini Stats -->
    <div class="bg-gray-lighter">
        <section class="content content-boxed">
            <!-- Section Content -->
            <div class="row items-push push-20-t push-20 text-center">
                <div class="col-sm-4">
                    <div class="h1 push-5" data-toggle="countTo" data-to="15760" data-after="+"></div>
                    <div class="font-w600 text-uppercase text-muted">Accounts Today</div>
                </div>
                <div class="col-sm-4">
                    <div class="h1 push-5" data-toggle="countTo" data-to="3890" data-after="+"></div>
                    <div class="font-w600 text-uppercase text-muted">Products</div>
                </div>
                <div class="col-sm-4">
                    <div class="h1 push-5" data-toggle="countTo" data-to="890" data-after="+"></div>
                    <div class="font-w600 text-uppercase text-muted">Web Apps</div>
                </div>
            </div>
            <!-- END Section Content -->
        </section>
    </div>
    <!-- END Mini Stats -->

    <!-- Classic Features #2 -->
    <div class="bg-white">
        <section class="content content-boxed">
            <!-- Section Content -->
            <div class="row items-push-3x push-50-t nice-copy">
                <div class="col-sm-4">
                    <div class="text-center push-30">
                                    <span class="item item-2x item-circle border">
                                        <i class="si si-compass"></i>
                                    </span>
                    </div>
                    <h3 class="h5 font-w600 text-uppercase text-center push-10">Cross Browser Support</h3>
                    <p>OneUI will play nice with all modern browsers such as Chrome, Firefox, Safari, Opera and the latest versions of Internet Explorer (9 and up).</p>
                </div>
                <div class="col-sm-4">
                    <div class="text-center push">
                                    <span class="item item-2x item-circle border">
                                        <i class="si si-book-open"></i>
                                    </span>
                    </div>
                    <h3 class="h5 font-w600 text-uppercase text-center push-10">Documentation</h3>
                    <p>OneUI comes packed with a great documentation which covers all the basics to get you familiar with template’s structure and files. It is the best way to get started.</p>
                </div>
                <div class="col-sm-4">
                    <div class="text-center push">
                                    <span class="item item-2x item-circle border">
                                        <i class="si si-rocket"></i>
                                    </span>
                    </div>
                    <h3 class="h5 font-w600 text-uppercase text-center push-10">Clean &amp; Commented Code</h3>
                    <p>The code is created with the developer in mind. It is clean, easy to follow, easy to replicate and at the same time well commented, so that you never feel lost.</p>
                </div>
            </div>
            <div class="row items-push-3x nice-copy">
                <div class="col-sm-4">
                    <div class="text-center push-30">
                                    <span class="item item-2x item-circle border">
                                        <i class="si si-wrench"></i>
                                    </span>
                    </div>
                    <h3 class="h5 font-w600 text-uppercase text-center push-10">Components</h3>
                    <p>OneUI comes packed with so many unique components. Carefully picked and integrated to enhance and enrich your project with great functionality. Use them anywhere you want.</p>
                </div>
                <div class="col-sm-4">
                    <div class="text-center push">
                                    <span class="item item-2x item-circle border">
                                        <i class="si si-support"></i>
                                    </span>
                    </div>
                    <h3 class="h5 font-w600 text-uppercase text-center push-10">Support</h3>
                    <p>By purchasing a license of OneUI, you are eligible to email support. Should you get stuck somewhere or come accross any issue, don’t worry because I am here to provide assistance.</p>
                </div>
                <div class="col-sm-4">
                    <div class="text-center push">
                                    <span class="item item-2x item-circle border">
                                        <i class="si si-heart"></i>
                                    </span>
                    </div>
                    <h3 class="h5 font-w600 text-uppercase text-center push-10">Crafted With Love</h3>
                    <p>I love what I do. I pay extra attention to small details and always try delivering the best I can with each project. My goal is to create a great product for you, that will make your life easier.</p>
                </div>
            </div>
            <!-- END Section Content -->
        </section>
    </div>
    <!-- END Classic Features #2 -->
</main>
<!-- END Main Container -->
{/block}